name: ALM Pipeline

on:
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Power Platform Authenticate
        uses: microsoft/powerplatform-actions/actions-authenticate@v1
        with:
          app-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          tenant-id: ${{ secrets.TENANT_ID }}

      - name: Export Solution
        uses: microsoft/powerplatform-actions/actions-export-solution@v1
        with:
          environment-url: ${{ secrets.TEST_ENV_URL }}
          solution-name: AssetManagement
          solution-output-file: out/exported_solution.zip

      - name: Commit Files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Exported latest solution" || echo "No changes to commit"

      - name: Push Changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
